
.contextMenu {
    position: fixed;
    padding: var(--default-padding);
    background: var(--app-background-color);
    border: 1px solid var(--semantic-interactive-2-hover-br);
    border-radius: var(--radius);
    margin-left: var(--default-padding);
    z-index: 1000000;
    display: flex;
    flex-direction: column;
}
