

.input {
    outline: none;
    border-radius: var(--radius);
    color: var(--input-foreground);
    background: var(--input-default-background);
    width: 100%;
    max-width: 100%;
    min-width: 0;
    border: 1px solid var(--input-border-color-now);
    --input-border-color-now: var(--input-default-border-color);
    font-size: var(--input-font-size);
    padding: calc(1px * var(--input-padding));
    height: calc(var(--input-height) * 1px);
}

.input:hover {
    background: var(--input-hover-background);
    --input-border-color-now: var(--input-hover-border-color);
}

.input:focus {
    background: var(--input-active-background);
    --input-border-color-now: var(--input-active-border-color);
    box-shadow: 0 0 3px var(--input-border-color-now);
}

.invalid,.invalid:focus {
    background: var(--input-invalid-background);
    --input-border-color-now: var(--input-invalid-border-color);
}

.red {
    color: var(--meter-red);
}
.green {
    color: var(--meter-green);
}
.yellow {
    color: var(--meter-yellow);
}
.bold {
    font-weight: 600;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
