/* common button's styles*/
.button {
    outline: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 13px;

    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--button-icon-stroke-default);

    background: var(--background);
    border: var(--border);
    padding: 3px;
    box-sizing: border-box;

    --size: calc(1px * var(--input-height));
    min-height: var(--size);
    min-width: var(--size);
}
.leftAndText {
    display: flex;
    align-items: center;
    gap: 4px;
}
.button svg {
    font-size: 1.2em;
}
.button[disabled='true'] {
    opacity: 0.5;
}


/* button's variants*/
/* primary */
.primary {
    --border-color: var(--button-primary-default-border-color);
    border: 1px solid var(--border-color);

    --background: var(--button-primary-default-background);

    color: var(--button-icon-stroke-always-white);
}
.primary:hover {
    --border-color: var(--button-primary-hover-border-color);

    --background: var(--button-primary-hover-background);
}
.primary:active {
    --border-color: var(--button-primary-active-border-color);

    --background: var(--button-primary-active-background);
}
.primary:focus-visible {
    outline: 2px solid var(--semantic-panel-focus);
}
/* secondary */
.secondary {
    --border-color: var(--button-secondary-default-border-color);
    border: 1px solid var(--border-color);

    --background: var(--button-secondary-default-background);

    color: var(--button-icon-stroke-default);
}
.secondary:hover {
    --border-color: var(--button-secondary-hover-border-color);

    --background: var(--button-secondary-hover-background);
    color: var(--button-icon-stroke-contrast);
}
.secondary:active {
    --border-color: var(--button-secondary-active-border-color);

    --background: var(--button-secondary-active-background);
    color: var(--button-icon-stroke-contrast);
}
.secondary:focus-visible {
    outline: 2px solid var(--semantic-panel-focus);
}
/* ghost */
.ghost {
    --background: var(--button-ghost-default-background);
    border: none;

    color: var(--button-icon-stroke-default);
}
.ghost:hover {
    --background: var(--button-ghost-hover-background);
}
.ghost:active {
    --background: var(--button-ghost-active-background);
}
.ghost:focus-visible {
    outline: 2px solid var(--semantic-panel-focus);
}

.fluid {
    width: 100%;
}

.alignCenter {
    justify-content: center;
}

.alignLeft {
    justify-content: start;
}

.alignBetween {
    justify-content: space-between;
}
