
.progress {
    width: 100%;
    height: 30px;
    background: var(--progress-background-color);
    border: 1px solid var(--progress-border-color);
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}

.valueFill {
    position: absolute;
    width: calc(
        100% *
        var(--progress-value)
    );
    height: 100%;
    background: var(--progress-value-background-color);
    overflow: hidden;
}

.valueTextInside {
    color: var(--progress-value-filled-color);
    position: absolute;
    left: 0;
    top: 0;
    width: calc(
        100% / var(--progress-value)
    );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valueTextOutside {
    color: var(--progress-value-default-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
