.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 4px;
    overflow: visible;
    cursor: pointer;
    --knob-range-angle: 300;
    --knob-range-rad: calc(
        var(--knob-range-angle) * var(--pi) / 360
    );
}

.label {
    text-align: center;
    color: var(--app-default-foreground-color);
}

.knob {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    position: relative;
    border-radius: 100%;
}
.knob svg * {
    stroke-linecap: round;
}

.rangeArc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.rangeArcCircle {
    fill: none;
    transform: rotate(
        calc(
                (360 - var(--knob-range-angle)) * 0.5deg + 90deg
        )
    );
    transform-origin: center;
    stroke-dasharray: calc(var(--knob-range-rad) * var(--size)) 100000px;
    stroke: var(--knob-range-color);
    stroke-width: 2px;
}

.valueArcCircle {
    fill: none;
    transform: rotate(
            calc(
                    (360 - var(--knob-range-angle)) * 0.5deg + 90deg +
                    var(--knob-neutral-min-value) * var(--knob-range-angle) * 1deg
            )
    );
    transform-origin: center;
    stroke-dasharray: calc(var(--knob-range-rad) * var(--size) * var(--knob-neutral-abs-value) ) 100000px;
    stroke: var(--knob-value-color);
    stroke-width: 2px;
}

.barWrapper {
    transform: rotate(
            calc(  (var(--knob-value) - 0.5) * var(--knob-range-angle) * 1deg)
    );
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.bar {
    position: absolute;
    height: 50%;
    top: 0;
    left: calc( var(--size) / 2 );
    border-right: var(--border-width) solid var(--knob-handle-color);
}

.value {
    color: var(--app-default-foreground-color);
    font-size: 12px;
    opacity: 0.5;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    width: 1px;
    min-width: 0;
}

.pow {
    margin-top: -4px;
    font-size: 10px;
}
