.parametricEQUI {
    display: flex;
    flex-direction: column;
    padding: var(--default-padding);
}


.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plot {
    height: 64px;
    overflow: clip;
    padding-top: 1px;
}
