
.sidePanelContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    flex-direction: column-reverse;
}

.right {
}

.sidePanel:first-child {
    border-right: var(--panel-border);
}

.sidePanel:last-child {
    border-left: var(--panel-border);
}

.main {
    flex: 1;
    height: 100%;
    position: relative;
}

.sidePanel {
    width: 250px;
    background: var(--panel-background-color);
    overflow-y: auto;
}
