.barTitles {
    background: var(--app-background-color);
    display: flex;
    width: fit-content;
    min-width: 100%;
    height: 20px;
    cursor: pointer;
}

.barTitle {
    min-width: calc(1px * var(--pxPerBar));
    font-weight: 600;
    opacity: 0.6;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.carret {
    position: absolute;
    top: 0;
    left: calc( 1px * var(--rowTitlesWidth) + 1px * var(--bar) * var(--pxPerBar) );
}

.emptySquare {
    width: calc(1px * var(--rowTitlesWidth));
}
