.pathG{
    pointer-events: bounding-box;
    cursor: pointer;
}

.pathG:hover{
    stroke: var(--accent);
    stroke-width: 3px;
}

.pathGStatic{
    stroke-linecap: round;
    stroke-linejoin: round;
}