.carret {
    position: absolute;
    --size: 30px;
    left: calc(-0.5 * var(--size));
    top: 0;
    width: var(--size);
    height: var(--size);
    pointer-events: none;
}
.path {
    fill: var(--carret-background);
    stroke: none !important;
}
.text {
    fill: #FFF;
    font-size: 0.7px;
    text-anchor: middle;
    alignment-baseline: middle;
    font-weight: 600;
    stroke: none !important;
}
