


.node {
    background: var(--panel-background-color);
    border-radius: calc(0.5 * var(--pxPerGrid));
    border: 1px solid var(--contrast-border-color);
    width: calc(var(--pxPerGrid) * var(--width));
    left: calc( (var(--x) + var(--offsetX)) * var(--pxPerGrid));
    top: calc( (var(--y) + var(--offsetY)) * var(--pxPerGrid));
    position: absolute;
    cursor: auto;
}

.selectedNode {
    border-color: var(--accent);
}

.nodeTitle:hover,.draggedNode .nodeTitle,.selectedNode .nodeTitle {
    color: var(--accent);
}

.nodeTitleBar {
    height: var(--pxPerGrid);
    border-bottom: 1px solid var(--contrast-border-color);
    display: flex;
    align-items: center;
    padding: 0 calc(var(--portCircleRadius) * 2);
}

.nodeTitle {
    cursor: grab;
    flex: 1;
    font-weight: 600;
    color: var(--app-default-foreground-color);
    user-select: none;
    display: flex;
    align-items: center;
    min-width: 0;
}

.dragIcon {
    min-width: calc(24px * var(--zoom));
    width: calc(24px * var(--zoom));
    height: calc(24px * var(--zoom));
    margin-right: calc(5px * var(--zoom));
    color: var(--app-default-foreground-color);
}

.titleText {
    position: absolute;
    transform: translate(0, -100%);
    width: 100%;
    overflow-wrap: break-word;
    padding: calc(var(--pxPerGrid) * 0.2);
}

.nodeTitleButton {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    --size: calc(24px * var(--zoom));
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px * var(--zoom));
    color: var(--app-default-foreground-color);
}

.nodeTitleButton:hover {
    color: var(--accent);
}

.nodeContent {
    width: calc(var(--pxPerGrid) * var(--width));
}
