.timeline {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: scroll;
    grid-template-areas: "bar-titles bar-titles"
        "row-titles rows";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.barTitles {
    grid-area: bar-titles;
    position: sticky;
    top: 0;
    z-index: 2;
    width: fit-content;
    min-width: 100%;
    border-bottom: 1px solid #0005;
    /*box-shadow: 0 0 16px #0003;*/
}
