
.uIEditorProperties {
    width: 100%;
    height: 100%;
    padding: var(--default-padding);
    overflow-y: auto;
}

.header {
    margin-bottom: var(--default-padding);
    padding-bottom: var(--default-padding);
    border-bottom: var(--separator-border);
}

.body {
}
