




.row {
    border-bottom: 1px solid #0002;
    border-top: 1px solid #0002;
    position: relative;
    background: color-mix(in srgb, var(--rowColor) 30%, #FFF0);
    height: calc(1px * var(--rowHeight));
}


.frame {
    position: absolute;
    left: calc( 1px * var(--pxPerBar) * var(--frameFromBars) );
    top: calc( 1px * var(--rowHeight) * var(--frameFromRow) );
    width: calc( 1px * var(--pxPerBar) * (
        var(--frameToBars) - var(--frameFromBars)
    ));
    height: calc( 1px * var(--rowHeight) * (
        var(--frameToRow) - var(--frameFromRow)
    ));
    border: var(--border-width) solid #000;
    border-radius: var(--radius);
    pointer-events: none;
}
