
.grid {
    position: relative;

    margin-left: -2px;

    flex: 1;
    min-width: max(
            100%,
            calc(1px * var(--contentWidthBar) * var(--pxPerBar))
    );
    display: flex;
    flex-direction: column;


    --grid-strength: 1px;
    --grid-strength-accent: 2px;

    --grid-accent: 4;

    --grid-gap: calc(1px * var(--pxPerGrid));

    --grid-color: #0002;
    --grid-color-accent: #0003;

    /* styling */
    background-size: var(--grid-gap), calc(var(--grid-gap) * var(--grid-accent));
    background-image: linear-gradient(to right,
    var(--grid-color) var(--grid-strength),
    transparent var(--grid-strength)),
    linear-gradient(to right,
            var(--grid-color-accent) var(--grid-strength-accent),
            transparent var(--grid-strength-accent));

}


.parentDefined{
    height: 100%;
    max-height: 100%;
    min-height: 0;

    /*width: calc(1px * var(--contentWidthBar) * var(--pxPerBar));*/
    /*min-width: calc(1px * var(--contentWidthBar) * var(--pxPerBar));*/

}