.panel {
    padding: 12px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.buttonGroup {
    height: 16px;
    display: flex;
    gap: 4px;
}

.mainContent {
    display: flex;
    gap: 16px;
}

.secondaryContent {
    display: flex;
    gap: 16px;
}

.bpm {
    display: flex;
    gap: 4px;
}

.bpmTitle {
    font-size: 11px;
    opacity: 0.6;
    margin-top: auto;
    margin-bottom: auto;
}

.bpmValue {
    width: 60px;
}