


.svg {
    pointer-events: none;
    position: absolute;
    left: calc( var(--offsetX) * var(--pxPerGrid));
    top: calc( var(--offsetY) * var(--pxPerGrid));
    width: calc(1000 * var(--pxPerGrid));
    height: calc(1000 * var(--pxPerGrid));
    overflow: visible;
}

.connection {
    fill: none;
    stroke: var(--app-default-foreground-color);
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
}

.connectionCap {
    fill: var(--app-default-foreground-color);
}
