
.root {

}

.asyncTree {
    padding-left: 29px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.root>.asyncTree {
    padding-left: 0;
}

.item {
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
}

.folder {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 24px;
    color: var(--icon-stroke);
}

.folder:hover {
    background: var(--selection-background);
    cursor: pointer;
}

.folderIcon {
    width: 24px;
    height: 24PX;
}

.folderTitle {

}

.file {
}
