
.meter {
    --size: 4px;
    border-radius: var(--radius);
    position: relative;
    background: var(--meter-background);
    overflow: hidden;
    width: 100%;
    height: var(--size);
    border: 1px solid gray;
}

.meterVertical{
    height: 100%;
    width: var(--size);
}

.level {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        var(--gradient-angle),
        var(--meter-green) 0%,
        var(--meter-yellow) 60%,
        var(--meter-red) 100%
    );
    clip-path: inset(-1px calc(100% - var(--level) * 100%) -1px 0);
    --gradient-angle: 90deg;
}

.levelVertical {
    --gradient-angle: 180deg;
    clip-path: inset( calc(100% - var(--level) * 100%) 0 0 0);
}