
.piecewiseGraphInteractive {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.svg {
    width: 100%;
    height: 100%;
    min-height: 0;
    transform: scaleY(-1);
    overflow: visible;
    stroke: var(--app-default-foreground-color);
    stroke-width: 2px;
    fill: none;
}

.dot{
    stroke: color-mix(in srgb, var(--app-default-foreground-color) 20%, #777);
    stroke-width: 20px;
    stroke-opacity: 0.7;
    cursor: move;
}

.dot:hover{
    stroke: var(--accent);
}




.rows{
    height: 100%;
    width: calc( 1px * var(--width));
}