
.port {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: var(--portCircleRadius);
    height: var(--pxPerGrid);
    background: none;
    outline: none;
    border: none;
    text-align: left;
    width: 100%;
    padding-left:  calc(2 * var(--portCircleRadius));
    padding-right:  calc(2 * var(--portCircleRadius));
}

.port:hover {
    cursor: pointer;
}

.port[disabled]:hover {
    cursor: not-allowed;
}

.rightPort {
    flex-direction: row-reverse;
}

.circle .portShape {
    border-radius: 100%;
}

.square .portShape {
    border-radius: 0;
}

.portShape {
    position: absolute;


    --border-width: 1px;
    width: calc(var(--portCircleRadius) * 2 - 2 * var(--border-width));
    height: calc(var(--portCircleRadius) * 2 - 2 * var(--border-width));
    border: var(--border-width) solid var(--contrast-border-color);
    background: var(--app-background-color);
    flex-shrink: 0;
}

.rightPort .portShape{
    right: 0;
    transform: translate(50%, 0);
}

.leftPort .portShape{
    left: 0;
    transform: translate(-50%, 0);
}
.port:hover .portShape,.portActive .portShape {
    background: #00FF00;
}

.port[disabled]:hover .portShape {
    background: #ff0000;
}

.portTitle {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--app-default-foreground-color);
    font-size: calc(16px * var(--zoom));
}
