.channel {
    display: flex;

    min-width: 42px;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;
    height: 100%;
    padding-top: 16px;
}

.meter {
    flex-shrink: 0;
    height: 214px;
}

.title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.meter {
    height: 100%;
}