
.clip {
    position: absolute;
    top: 0;
    height: 100%;
    left: calc( 1px * var(--pxPerBar) * var(--startBar) );
    width: calc( 1px * var(--pxPerBar) * var(--lengthBars) );
    --timeline-clip-padding: 2px;
    padding: var(--timeline-clip-padding);
    cursor: pointer;
    --resize-tint: #0004;
    --resize-opaq: #0000;
}


.resizeBefore,.resizeAfter {
    content: " ";
    display: block;
    position: absolute;
    top: var(--timeline-clip-padding);
    height: calc(100% - 2 * var(--timeline-clip-padding));
    width: calc(var(--resizeAreaSize) * 100% - var(--timeline-clip-padding));
    cursor: ew-resize;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.resizeBefore:hover,.resizeAfter:hover {
    opacity: 1;
}

.resizeBefore {
    left: var(--timeline-clip-padding);
    background: linear-gradient(90deg, var(--resize-tint), var(--resize-opaq));
    border-radius: 0 0 var(--radius) var(--radius);
}

.resizeAfter {
    right: var(--timeline-clip-padding);
    background: linear-gradient(90deg, var(--resize-opaq), var(--resize-tint));
    border-radius: var(--radius) var(--radius) 0 0 ;
}
