
.rowTitles {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: sticky;
    left: 0;
    z-index: 1;
    background: var(--app-background-color);
    /*box-shadow: 0 0 16px #0003;*/
}

.rowTitle {
    border-bottom: 1px solid #0003;
    border-top: 1px solid #0003;
    border-right: 2px solid #0005;
    width: calc(1px * var(--rowTitlesWidth));
    background: var(--rowColor);
    height: calc(1px * var(--rowHeight));
}
