
.reverbSubgraphSelector {
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subgraph {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.title {
    flex: 1;
}
