.dialog::backdrop {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--semantic-panel-br);
}

.dialog {
    padding: 16px;
    outline: 1px solid var(--semantic-panel-br);
    background: var(--semantic-panel-bg-1);
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    color: var(--semantic-panel-fg-1);
}

.title {

}


