
.headeredPlugin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background: var(--panel-background-color);
    border-bottom: var(--panel-border);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.title {
    display: flex;
    align-items: center;
}

.presets {
    display: flex;
    gap: 5px;
}

.pluginUI {
    flex: 1;
    position: relative;
    min-height: 0;
}
