.simpleSynthUI {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: var(--default-plugin-width);
}

.shapeIcon {
    padding: 1px;
    width: 20px;
    height: 20px;
}

.envelope {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.knobs {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.space {
    flex: 1;
}

.envelopeGraph {
    width: calc(100% - 25px);
    height: 60px;
    padding: 10px;
}

.graphEnabled {

}

.graphDisabled {
    opacity: 0.2;
}

.spectre {
    width: calc(100% - 25px);
    height: 60px;
    padding: 10px;
}
