
.multiMeter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.multiMeterVertical {
    flex-direction: row-reverse;
    height: 100%;
}


.meters {
    display: flex;
    gap: 2px;
    align-items: stretch;
    flex-direction: column;
}

.metersVertical {
    flex-direction: row;
}



.marks {
    position: relative;
    width: 100%;
    height: 12px;
}
.marksVertical {
    height: 100%;
    width: 21px;
}

.mark {
    position: absolute;
    left: calc( 100% * var(--pos) );
    background: color-mix(
            in srgb,
            var(--app-default-foreground-color) 80%,
            transparent
    );
    width: 1px;
    height: 4px;
}

.markLabel {
    font-size: 10px;
    font-weight: 600;
    opacity: 0.5;
    position: absolute;
    top: 100%;
}

.markVertical {
    height: 1px;
    width: 4px;
    left: unset;
    right: 0;
    bottom: calc( 100% * var(--pos) );

    .markLabel{
        top: unset;
        right: 100%;
    }
}
.alignEnd:not(.markVertical){
    .markLabel {
        transform: translateX(-100%);
    }
}
.alignStart.markVertical{
    .markLabel {
        transform: translateY(-100%);
    }
}