
.container{
    display: flex;
    flex-direction: row;
}
.rtl{
    flex-direction: row-reverse;
}
.inputContainer {
    width: calc(var(--inputsWidth) * var(--pxPerGrid));
}
.outputContainer {
    width: calc(var(--outputsWidth) * var(--pxPerGrid));
}
.inputContainer,
.outputContainer{
    padding-top: calc( var(--pxPerGrid) * 0.5);
}
.nodeContent {
    width: calc((var(--width) - var(--inputsWidth) - var(--outputsWidth)) * var(--pxPerGrid));
    min-height: calc(var(--height) * var(--pxPerGrid) - 2px);
    --uiScale: var(--zoom);

}

.hasInputs:not(:empty) {
    border-left: 1px dotted var(--contrast-border-color);
}

.hasOutputs:not(:empty) {
    border-right: 1px dotted var(--contrast-border-color);
}
