
.ui {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 1px;
    --cell-size: 12px;
}

.element {
    background: rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.wrapped {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
