
.grid {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;


    --grid-strength: 1px;
    --grid-strength-accent: 2px;

    --grid-accent: 4;

    --grid-color: #0001;
    --grid-color-accent: #0001;

    --pxPerGrid: calc(
            1px * var(--gridSize) * var(--zoom)
    );
    --portCircleRadius: calc(10px * var(--zoom));

    cursor: grab;

    background-position: calc(var(--pxPerGrid) * var(--offsetX)) calc(var(--pxPerGrid) * var(--offsetY));
    background-size: 1px calc(var(--pxPerGrid) * var(--grid-accent)),
    1px calc(var(--pxPerGrid)),
    calc(var(--pxPerGrid) * var(--grid-accent)) 1px,
    calc(var(--pxPerGrid)) 1px;
    background-image: linear-gradient(
            to bottom,
            var(--grid-color-accent) var(--grid-strength-accent),
            transparent var(--grid-strength-accent)
    ),
    linear-gradient(
            to bottom,
            var(--grid-color) var(--grid-strength),
            transparent var(--grid-strength)
    ),
    linear-gradient(
            to right,
            var(--grid-color-accent) var(--grid-strength-accent),
            transparent var(--grid-strength-accent)
    ),
    linear-gradient(
            to right,
            var(--grid-color) var(--grid-strength),
            transparent var(--grid-strength)
    );
    font-size: calc(16px * var(--zoom));

}
