

.playlistClip {
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
}

.playlistClipSelected {
    background: var(--playlist-clip-selected-background);
    border: var(--playlist-clip-default-border);
}

.playlistClipUnselected {
    background: var(--playlist-clip-default-background);
}

.playlistClipTitle {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlistClipAutomation {
    flex: 1;
    width: 100%;
    min-height: 0;
    position: relative;

    overflow-x: clip;
    overflow-y: visible;

}

.playlistClipAutomationScaleWrapper {
    position: absolute;
    top: 0;
    height: 100%;


    width: calc( 100% / var(--clipSourceLength) );
    left: calc(
            -100% /
            var(--clipSourceLength) *
            var(--clipSourceTime)
    );

}

.playlistClipNotes {
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 0 0 5px;
    overflow: hidden;
}

.playlistClipWave {
    flex: 1;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.playlistClipWave>* {
    flex: 1;
    min-height: 0;
}

.notesPreview {
    height: 100%;
    width: calc(100% + 2 * var(--timeline-clip-padding));
    margin-left: calc(-1 * var(--timeline-clip-padding));
    position: relative;
    --noteSize: calc( 100% / (var(--maxNote) - var(--minNote) + 1) );
}

.notePreview {
    position: absolute;

    height: var(--noteSize);
    top: calc(100% - (var(--note) - var(--minNote) + 1) * var(--noteSize));

    width: calc( 100% * var(--noteTimeLength) / (var(--clipSourceLength)) );
    left: calc( 100% * (var(--noteTimeStart) - var(--clipSourceTime)) / (var(--clipSourceLength)) );
    padding: 1px;

}

.notePreviewFill {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background: var(--playlist-note-background);
}

.trackTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-weight: 600;
}

.levels {
    width: 100%;
    display: flex;
    flex-direction: column;
}
