

.ui {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.topPanel {
    background: var(--panel-background-color);
    border-bottom: var(--panel-border);
}

.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

.sidePanel {
    padding: 10px;
    background: var(--panel-background-color);
    border-right: var(--panel-border);
}

.mainContent {
    flex: 1;
    height: 100%;
    max-height: 100%;
    min-height: 0;
    min-width: 0;
}
