.mixer {
    height: 100%;
    width: 100%;
    overflow-x: scroll;

    --port-size: 13px;
    --translateX: 6.5px;
}

.grid {
     padding: 10px;
     display: grid;
     height: 100%;
     grid-auto-columns: max-content;
}

.gridCell {
    grid-column: var(--col);
    grid-row: var(--row);
    min-height: calc( var(--height) * 3px);
}

.connection {
    border: 1px solid var(--semantic-panel-br);
    width: 100%;
    height: 100%;
    border-bottom-width: 0;
    transform: translate(var(--translateX), var(--translateX)) ;
    pointer-events: none;
}

.pluginToChanelConnectionBottom{
    border-bottom-width: 0;
    border-right-width: 0;
}
.pluginToChanelConnectionTop{
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-width: 0;
}
.flipX {
    transform: translate(var(--translateX), var(--translateX)) scaleX(-1) ;
}

.channelBox {
    background: var(--semantic-panel-bg-2);
    border: 1px solid var(--semantic-panel-br);
    width: 100%;
    height: 100%;
}