.pluginButtons {
    display: flex;
    justify-content: flex-end;
}

.pluginPort {
    top: 100px;
    position: absolute;
}

.pluginBox {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}