.port {
    width: var(--port-size);
    height: var(--port-size);
    border-radius: 50%;
    box-sizing: border-box;

    border: 1px solid var(--semantic-interactive-1-default-bg);
    background: var(--semantic-panel-bg-1);
    font-size: 9px;
    line-height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(var(--translateX));
}
.selected {
    border-color: var(--semantic-interactive-1-default-br);
    background: var(--semantic-interactive-1-default-bg);
    color: var(--semantic-interactive-1-default-fg);
}