
[data-theme='day'] {
    color-scheme: light;

    --accent: #8a48ff;

    --app-background-color: #FFF;
    --app-default-foreground-color: #000;
    --app-selected-foreground-color: #FFF;

    --input-foreground: #000;
    --input-invalid-background: #FFF;
    --input-invalid-border-color: #F00;

    --switch-default-icon-color: #000;
    --switch-selected-icon-color: var(--accent);
    --switch-hovered-icon-color: var(--accent);

    --selection-foreground: var(--accent);
    --selection-background: color-mix(in srgb, var(--accent) 10%, transparent);

    --panel-background-color: #EEE;
    --panel-border-color: #DDD;

    --separator-border: 1px solid #DDD;

    --piano-roll-note-white-background: #0000;
    --piano-roll-note-black-background: #0002;
    --piano-roll-note-default-background: #666;
    --piano-roll-note-selected-background: #222;

    --playlist-clip-default-background: #0003;
    --playlist-clip-selected-background: #0006;
    --playlist-clip-default-border: 1px solid #0009;
    --playlist-note-background: #0006;

    --meter-background: #666;
    --meter-green: #0F0;
    --meter-yellow: #FF0;
    --meter-red: #F00;

    --progress-border-color: #0002;
    --progress-value-background-color: color-mix(in srgb, var(--accent) 80%, #FFF);
    --progress-value-default-color: #000;
    --progress-value-filled-color: #FFF;



    --knob-range-color: #0002;
    --knob-value-color: var(--accent);
    --knob-handle-color: #000;

    --plot-line-color: #000;

    --carret-background: #666;

    --icon-stroke: var(--color-gray-0);

    --contrast-border-color: #0005;

    --button-icon-stroke-contrast: var(--color-gray-1000);
    --button-icon-stroke-default: var(--color-gray-0);
    --button-icon-stroke-always-white: var(--color-gray-1000);
}

[data-theme='night'] {

    color-scheme: dark;

    --accent: #8a48ff;

    --app-background-color: #252536;
    --app-default-foreground-color: #FFF;
    --app-selected-foreground-color: #FFF;

    --input-foreground: #FFF;
    --input-invalid-background: #252536;
    --input-invalid-border-color: #F00;

    --switch-default-icon-color: #FFF;
    --switch-selected-icon-color: color-mix(in srgb, var(--accent) 80%, #FFF);
    --switch-hovered-icon-color: color-mix(in srgb, var(--accent) 80%, #FFF);

    --selection-foreground: color-mix(in srgb, var(--accent) 60%, #FFF);
    --selection-background: color-mix(in srgb, var(--accent) 10%, transparent);

    --panel-background-color: #13131c;
    --panel-border-color: color-mix(in hsl, #13131c, #323249);

    --separator-border: 1px solid #323249;

    --piano-roll-note-white-background: #FFF2;
    --piano-roll-note-black-background: #FFF0;
    --piano-roll-note-default-background: var(--accent);
    --piano-roll-note-selected-background: color-mix(in srgb, var(--accent), #FFF);

    --playlist-clip-default-background: #FFF1;
    --playlist-clip-selected-background: #FFF3;
    --playlist-clip-default-border: 1px solid var(--accent);
    --playlist-note-background: #FFF6;

    --meter-background: #13131c;
    --meter-green: #0F0;
    --meter-yellow: #FF0;
    --meter-red: #F00;

    --progress-border-color: #FFF3;
    --progress-value-background-color: color-mix(in srgb, var(--accent) 80%, #FFF);
    --progress-value-default-color: #FFF;
    --progress-value-filled-color: #000;

    --knob-range-color: #FFF1;
    --knob-value-color: color-mix(in srgb, var(--accent) 80%, #FFF);
    --knob-handle-color: #FFF;

    --plot-line-color: #FFF;

    --carret-background: #141417;

    --contrast-border-color: #FFF5;

    --button-icon-stroke-contrast: var(--color-gray-0);
    --button-icon-stroke-default: var(--color-gray-1000);
    --button-icon-stroke-always-white: var(--color-gray-1000);
}

body {
    --input-focused-border-color: var(--accent);

    --panel-border: 1px solid var(--panel-border-color);

    --progress-background-color: var(--panel-background-color);

    --checkbox-background: var(--input-default-background);
    --checkbox-border-color: var(--semantic-interactive-3-default-br);


    --button-primary-default-background: var(--semantic-interactive-1-default-bg);
    --button-secondary-default-background: var(--semantic-interactive-2-default-bg);
    --button-ghost-default-background: none;

    --button-primary-hover-background: var(--semantic-interactive-1-hover-bg);
    --button-secondary-hover-background: var(--semantic-interactive-2-hover-bg);
    --button-ghost-hover-background: var(--semantic-interactive-3-hover-bg);

    --button-primary-active-background: var(--semantic-interactive-1-active-bg);
    --button-secondary-active-background: var(--semantic-interactive-2-active-bg);
    --button-ghost-active-background: var(--semantic-interactive-3-active-bg);

    --button-primary-default-border-color: var(--semantic-interactive-1-default-br);
    --button-primary-hover-border-color: var(--semantic-interactive-1-hover-br);
    --button-primary-active-border-color: var(--semantic-interactive-1-active-br);

    --button-secondary-default-border-color: var(--semantic-interactive-2-default-br);
    --button-secondary-hover-border-color: var(--semantic-interactive-2-hover-br);
    --button-secondary-active-border-color: var(--semantic-interactive-2-active-br);

    --button-ghost-default-border-color: none;
    --button-ghost-hover-border-color: none;
    --button-ghost-active-border-color: none;

    --input-height: 26;
    --input-padding: 4;
    --input-default-background: var(--semantic-interactive-3-default-bg);
    --input-hover-background: var(--semantic-interactive-3-hover-bg);
    --input-active-background: var(--semantic-interactive-3-active-bg);
    --input-default-border-color: var(--semantic-interactive-3-default-br);
    --input-hover-border-color: var(--semantic-interactive-3-hover-br);
    --input-active-border-color: var(--semantic-interactive-3-active-br);
    --input-font-size: 13px;

    --border-width: 2px;
    --radius: 4px;
    --default-plugin-width: 285px;
    --pi: 3.14159265359;
    --default-padding: 10px;
    --uiScale: 1;

    --padding-small: 4px;
    --padding-normal: 8px;
}

