
.dropdown {
    position: relative;
}

.list {
    position:absolute;
    margin: 0;
    background: var(--semantic-panel-bg-1);
    border: 1px solid var(--semantic-interactive-3-default-br);
    border-radius: var(--radius);
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: var(--padding-normal);
    gap: var(--padding-small);
}

