
.wavsAsyncTreeWrapper {
    position: relative;
}

.wavsAsyncTree {
    position: absolute;
    width: 100%;
}

.wavFile {
    background: var(--input-default-background);
    border-radius: var(--radius);
    padding: 4px;
}

.wavFileName,.wavFileProperties {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wavFileName {
    top: 0;
}

.wavFileProperties {
    bottom: 0;
    font-size: 10px;
}

.wavFileWave {
    margin-top: 4px;
    height: 32px;
    display: flex;
    position: relative;
}

.wavFileButtons {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    gap: 2px;
    display: none;
}

.wavFile:hover .wavFileButtons {
    display: flex;
}
