
.checkboxBox {
    width: 18px;
    height: 18px;
    &>* {
        margin: -1px;
    }
    &.checked {
        border: 1px solid var(--semantic-interactive-1-default-br);
        background: var(--semantic-interactive-1-default-bg);
        color: var(--semantic-interactive-1-default-fg);
        &:hover {
            border: 1px solid var(--semantic-interactive-1-hover-br);
            background: var(--semantic-interactive-1-hover-bg);
            color: var(--semantic-interactive-1-hover-fg);
        }
        &:active {
            border: 1px solid var(--semantic-interactive-1-active-br);
            background: var(--semantic-interactive-1-active-bg);
            color: var(--semantic-interactive-1-active-fg);
        }
    }
    &:not(.checked) {
        border: 1px solid var(--semantic-interactive-3-default-br);
        background: var(--semantic-interactive-3-default-bg);
        color: var(--semantic-interactive-3-default-fg);
        &:hover {
            border: 1px solid var(--semantic-interactive-3-hover-br);
            background: var(--semantic-interactive-3-hover-bg);
            color: var(--semantic-interactive-3-hover-fg);
        }
        &:active {
            border: 1px solid var(--semantic-interactive-3-active-br);
            background: var(--semantic-interactive-3-active-bg);
            color: var(--semantic-interactive-3-active-fg);
        }
    }
}

