
.optionallySelectedBox {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    --color: var(--app-default-foreground-color);
    color: var(--color);
    height: calc(1px * var(--input-height));
}


.selected {
    font-weight: 600;
    background: var(--selection-background);
    border-radius: var(--radius);
    --color: var(--selection-foreground);
}
