.labeledContainer {
    min-width: 0;
}

.box {
    border-radius: var(--radius);
}

.big .label {
    padding-bottom: 10px;
}

.medium .label {
    padding-bottom: 7px;
}

.small .label {
    padding-bottom: 5px;
}

.tiny .label {
    padding-bottom: 3px;
}


.label {
    font-weight: 600;
    color: var(--app-default-foreground-color);
}

.content {

}
