.switch {
    display: flex;
}

.option {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--option-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 16px;
}

.option:not(.selected) {
    --option-color: var(--switch-default-icon-color) !important;
}

.option.selected {
    --option-color: var(--switch-selected-icon-color) !important;
}

.option:not(.selected):hover {
    --option-color: var(--switch-hovered-icon-color) !important;
}

.option svg * {
    stroke: var(--option-color) !important;
}

.big svg {
    font-size: 40px;
}

.medium svg {
    font-size: 35px;
}

.small svg {
    font-size: 30px;
}

.big {
    min-width: calc(1px * var(--input-height-big));
    height: calc(1px * var(--input-height-big));
}

.medium {
    min-width: calc(1px * var(--input-height-medium));
    height: calc(1px * var(--input-height-medium));
}

.small {
    min-width: calc(1px * var(--input-height-small));
    height: calc(1px * var(--input-height-small));
}
