

.clipsNavigator {
    width: 294px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.trackInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trackActions {
    display: flex;
    gap: 5px;
}

.clipIcon {
    color: var(--color);
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.space {
    flex: 1;
}
