
.dropdownItem {
    min-width: 100%;
    text-align: left;
    max-width: 300px;
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    gap: var(--padding-small);
    padding: var(--padding-small);
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color: var(--semantic-interactive-3-default-fg);

    &:hover:not(.selected) {
        color: var(--semantic-interactive-3-hover-fg);
        background: var(--semantic-interactive-3-hover-bg);
    }

    &:active:not(.selected) {
        color: var(--semantic-interactive-3-active-fg);
        background: var(--semantic-interactive-3-active-bg);
    }
}

.selected {
    color: var(--semantic-interactive-1-default-fg);
    background: var(--semantic-interactive-1-default-bg);
    border: var(--semantic-interactive-1-default-br);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    opacity: 0.6;
}
