
.toggleButton {
    outline: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--button-default-foreground);
    background: var(--background);
    border: var(--border);


    padding: 10px 10px;
}

.active {
    background: var(--color);
    color: var(--app-background-color);
    border-radius: 100%;
}


.toggleButton svg {
    font-size: 1.2em;
}

