.simpleSamplerUI {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: var(--default-plugin-width);
}





.samples {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

.white {
    background: var(--piano-roll-note-white-background);
}

.black {
    background: var(--piano-roll-note-black-background);
}

.sample {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    border-radius: var(--radius);
}

.sampleTitle {
    width: 30px;
}

.loadedState {

}

.pickSampleButton {
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    flex: 1;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 5px;
}
