.selected {
    background: var(--piano-roll-note-selected-background);
}

.unselected  {
    background: var(--piano-roll-note-default-background);
}

.noteClip {
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
}

.noteTrackTitle {
    cursor: pointer;
    font-weight: 800;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: var(--app-default-foreground-color);
}
